body {
	margin: 0;
	font-family: Arial;
}

/* Barra de navegação */
.topnav{
	overflow: hidden;
	background-color: #333;
}

/* Link da barra de navegação */
.topnav a{
	float: left;
	display: block;
	color: gray;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Mudança de cor no hover */
.topnav a:hover{
	background-color: #ddd;
	color: black;
}

/* Conteúdo */
.content{
	background-color: #ddd;
	padding: 10px;
}

.content2{
	/* background-color: #eef; */
	padding: 10px;
}

/*Rodapé */
.footer{
	/* background-color: #f1f1f1; */
	padding: 10px;
	font-size: 10px;
	text-align: center;
}

.dropdown{
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 240px;
	padding: 10px;
	background: #fff;
	box-shadow: 0 20px 40px rgba(0,0,0,0.1);
	border-radius: 3px;
	opacity: 0;
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	transition: 0.2s cubic-bezier(0, 0, 0, 1);
	z-index: 100;
}